<p id="notice"><%= notice %></p>

<div class="comments_container">
<div class="page_header">Comments</div>


    <% @comments.each do |comment| %>
      <div class="well">
        <p><strong>User: <%= comment.user.name %></strong></p>
        <p><%= comment.message %></p>
        <p>
          <%= link_to 'Delete', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
       </p>
      </div>
       <% end %>
