<h1>About</h1>

<div class="about_page">
  <p>
  We live in a technology-based society today and with such innovative and positive
  things happening around the world, there is also threats. No matter your involvement
  with cyber security world, it is always a good idea to stay up to date and know the basic
  steps to keep yourself safe on a daily basis.
  </p>
  
  <p>
  This site is dedicated to providing
  recommendations and the tools necessary to increase computer security as well as to
  increase your knowledge within the subject. With technology that is always advancing,
  new threats are also emerging and this site also provides a news feed so anyone can stay
  up to date with the latest cyber security news.
  </p>
</div>
