<body>
<div id="main">
<div id="first">
<form action="" method="post">
<h1>Contact Form</h1>
<h4>Please fill all entries.</h4>
<label>Name:</label>
<input name="dname" placeholder="Your Name" type="text">
<label>Email:</label>
<input name="demail" placeholder="Your Email" type="text">
<label>Message:</label>
<textarea name="dmsg" placeholder="Message">
</textarea>
<input name="dsubmit" type="submit" value="Send">
</form>
</div>
</div>
</body>
