.dropbtn {
    background-color: inherit;
    font-weight: 800;
    color: #aaa;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-account {
    display: none;
    background-color: #2B2B2B;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.dropdown-account a {
    color: #aaa;
    // padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown:hover .dropdown-account {
    display: block;
}
